*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

@supports (font-size-adjust: 1) {
    p {font-size-adjust: 0.5;}
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

body {
    line-height: calc(1ex / 0.32);
    height: 100vh;

}
p {

    width: 60ch;
    max-width: 100%;

    -webkit-font-smoothing: antialiased;

}

main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

aside {
    display: flex;
    flex-direction: column;
    flex-shrink: 8;
    flex-grow: 1;
    flex-basis: 500px;
    background-image: url("/neom-kXbit_yx8t4-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-color: black;
    justify-content: center;

}


.container-logo {
   background-color: rgba(0, 0, 0, 0.5);
   color: white;
   padding: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
   
}

.logo ,.container-logo p{
    max-width: 80px;
    font-size: 1.5rem;

}
.header-article {
    padding: 3em 4em;
}
article {
    max-height: 100%;
    display: flex;
    flex-shrink: 1;
    flex-grow: 6;
    flex-basis: 500px;
    flex-flow: column;
    justify-content: space-evenly;
    background-color: #fafafa;
}

form {
    padding: 50px;
    margin: 0 0 40px 0;
    box-shadow: 0px 22px 18px -20px rgba(66, 68, 90, 1);
    background-color: white;
}

.form-inputs {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    column-gap: 3em;
}
.form-row {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row input {
    background-color: #ffffff;
    border: 1px solid #D6D9DC;
    width: 30em;
    border-radius: 3px;
    padding: 7px;
    font-size: 0.9em;
}

.form-row label {
    margin-bottom: -5px;
}

.btn-create-acount {
    background-color: #596D48;
}